@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
    h1, h2, h3, h4, h5, header p, .boxhead {
        font-family: 'Racing Sans One', cursive;
    }
    h2, h3, h4, h5 {
        @apply text-secondarytwo-light pt-6 pb-2;
    }
    h2 {
        @apply text-4xl;
    }
    h3 {
        @apply text-2xl;
    }
    h4, .boxhead {
        @apply text-xl;
    }
    h5 {
        @apply text-lg;
    }
    body {
        @apply bg-secondaryone-verydark;
    }
    ul {
        @apply list-disc;
    }
    li {
        @apply ml-6 pb-1;
    }
    p {
        @apply p-1;
    }
    a {
        @apply underline text-primary focus:text-complementary-verydark;
    }
}

@layer components {
    header {
        @apply text-complementary-light;
    }
    main {
        @apply container mx-auto bg-blue-200 rounded text-gray-900 p-12 mb-8;
    }
    footer {
        @apply container mx-auto mb-4 text-blue-400 text-sm;
    }
    /* remember to apply .content to sections that have aside boxes */
    .content {
        @apply md:flex items-start pb-2;
    }
    .primary {
        @apply pr-2;
    }
    .box {
        @apply bg-secondarytwo-light rounded text-white mx-4 my-2 p-5;
    }
    .headersgap {
        @apply pt-3;
    }

    /* flex here makes the text line up vertically instead of wrapping around the arrow */
    .point {
        @apply flex;
    }
    .point::before {
        content: "\2192";
        @apply pr-2 text-2xl text-secondaryone-dark font-bold relative -top-1;
    }
    .question {
        @apply flex;
        font-style: italic;
    }
    .question::before {
        content: "\01FA80";
        @apply pr-2 text-2xl relative -top-1;
        font-style: normal;
    }
}
@media (min-width: 900px) {

    .columns {
        columns: 2;
        column-gap: 2rem;
    }
    .breakafter {
        break-after: column;
    }
}